@import url(reset.css);
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap");



body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
}

img {
  max-width: 100%;
  object-fit: cover;
}

[class*="__container"] {
  max-width: 1240px;
  padding: 0 15px;
  margin: 0 auto;
}


.header--margin {
  margin-bottom: 57px;
}

.header__inner {
  padding: 40px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  transition: all .3s ease;
}

.header__logo:hover {
  transform: scale(1.1);
}

.menu__list {
  display: flex;
  gap: 74px;
}

.menu__item {
  display: flex;
  align-items: center;
}

.menu__link {
  font-size: 16px;
  line-height: 1.5; /* 24px/16 */
  color: #333;
  transition: all .3s ease;
}

.menu__link--active {
  font-weight: 600;
  font-size: 16px;
}

.menu__link:hover {
  transform: scale(1.07);
}


.menu__link--contact {
  padding: 14px 32px;
  color: #fff;
  background-color: #2C3878;
  border: 1px solid #3C3C3C;
}

.main__top {
  text-align: center;
  margin-bottom: 100px;
}

.top__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.4;
}

.top__descr {
  max-width: 520px;
  line-height: 1.61; /* 29px/18 */
  margin: 0 auto 53px;
}

.top__wrapp {
  overflow: hidden;
}

.top__image {
  display: block;
  transition: all .7s ease;
}

.top__image:hover {
  transform: scale(1.05);
}

.main__project {
  display: flex;
  margin: 0 -16px;
  margin-bottom: 82px;
}

.project__blog {
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
  padding: 0 16px;
}

.project__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4;
  color: #333333;
  margin-bottom: 24px;
}

.project__text--grow {
  flex-grow: 1;
}

.project__text:not(:last-child) {
  margin-bottom: 30px;
}

.project__text,
.project__date,
.project__type {
  line-height: 1.6;
  color: #9C9C9C;
}

.project__option {
  display: flex;
  column-gap: 80px;
}

.main__gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  margin: 0 -16px 100px;
} 

.gallery__items {
  flex: 0 1 50%;
  padding: 0 16px;
}

.gallery__items--big {
  flex: 0 1 100%;
}

.gallery__items img {
  transition: all .5s ease;
} 

.gallery__items img:hover {
  transform: scale(1.02);
}

.section__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 40px;
  position: relative;
}

.section__name::after {
  content: '';
  width: 464px;
  height: 2px;
  display: inline-block;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 136px;
}

.section__body {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
} 

.section__item {
  display: flex;
  gap: 120px;
  align-items: center;
}

.section__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4;
  color: #333333;
  margin-bottom: 20px;
}

.section__text {
  line-height: 1.6;
  color: #9C9C9C;
}

.section__wrapp {
  flex: 0 1 62%;
}

.section__content {
  flex: 0 1 29%;
}


.section__wrapp {
  overflow: hidden;
}

.section__img {
  transition: all .5s ease;
}

.section__img:hover {
  transform: scale(1.05);
}